<!-- <h1 mat-dialog-title>Node key: {{data.key}}</h1>
<div mat-dialog-content>
  text:
  <mat-form-field>
    <input matInput [(ngModel)]="data.text">
  </mat-form-field>
  Spending:
  <mat-form-field>
    <input matInput [(ngModel)]="data.spending">
  </mat-form-field>
   <mat-form-field>
    <input matInput [(ngModel)]="data.text">Medium Customers
  </mat-form-field>
  color:
  <mat-form-field>
    <input matInput [(ngModel)]="data.color">DIY Customers
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>OK</button>
  <button mat-button [mat-dialog-close]="null">Cancel</button>
</div> -->


<!-- <button mat-raised-button (click)="submitActivity(activityForm)"
[mat-dialog-close]="closeDialog" style="background-color: seagreen;align-self: center;">
 Country&nbsp;
</button>
<h1 mat-dialog-title>Node key: {{data.key}}</h1>
<div mat-dialog-content>
  Country:
  <mat-form-field>
    <input matInput [(ngModel)]="data.country">
  </mat-form-field>
  age:
  <mat-form-field>
    <input matInput [(ngModel)]="data.age">
  </mat-form-field>
  Gender
  <mat-form-field>
    <input matInput [(ngModel)]="data.gender">
  </mat-form-field>
  Income:
  <mat-form-field>
    <input matInput [(ngModel)]="data.income">
  </mat-form-field> 
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>OK</button>
  <button mat-button [mat-dialog-close]="null">Cancel</button>
</div> -->

<form [formGroup]="DemographicsForm" novalidate="novalidate" >
  <div fxFlex fxLayout="row">
    <div fxFlex="30">
      
      <mat-form-field>
          <mat-label>Select Column</mat-label>
          <mat-select formControlName="colnames">
            <mat-option *ngFor="let col of columnnames" [value]="col" (click)="setfield(col)">
              {{col}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      
  </div>
  <div fxFlex="2"></div>
  <div fxFlex="30" *ngIf="showflag==true;else textfield">
      
      <mat-form-field>
          <mat-label>Select Category</mat-label>
          <mat-select formControlName="catnames">
            <mat-option *ngFor="let cat of filterarray" [value]="cat">
              {{cat}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
<ng-template #textfield>
    <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip
            *ngFor="let fruit of SelectedAges"
            [selectable]=true
            [removable]=true
            (removed)="remove(fruit)">
            {{fruit}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Age ex: >33 ,=45" 
            #fruitInput
            formControlName="Age"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let fruit of filteredAge | async" [value]="fruit">
            {{fruit}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
</ng-template>

  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="submit(DemographicsForm)">OK</button>
    <button mat-button [mat-dialog-close]="null">Cancel</button>
  </div>
</form>