<!-- <div class="fixed-top" fxFlex="column">
  <div >
    <img src="../assets/1280px-Murphy_USA_logo.svg.png" alt="Smiley face" width="42" height="42">
  </div>
  <div>
  <h1>Mu Cohort</h1>
</div>
   <div>
      <img src="../assets/Musigma logo.png" alt="Smiley face" width="42" height="42">
    </div>
</div> -->
<mat-toolbar class="main-toolbar" style="padding-left: 10px; background: #3B4751;">
  
    <img src="../assets/Musigma logo.png" class="righer"style="margin-right:10px">
       <span style="color:blanchedalmond;margin-right:10px">>> </span>
      <img src="../assets/muCohort.png"> 
      <span class="example-spacer"></span>
      <img src="../assets/1280px-Murphy_USA_logo.svg.png">
    
   
</mat-toolbar>

<div class="full-height">
  
    <mat-tab-group>
        
        <mat-tab label="Build Audience Segment" isActive:true> 
            <app-ivr [model]="modelIVR" (terminalevent)="openterminaldialog($event)" (nodeMetrics)="onReceiveNodeMetrics($event)"
            (nodeSelected)="makeConnection($event)" (typeOfNode)="addIvrNode($event)"></app-ivr> 
        </mat-tab>
        <mat-tab label="Product to Promote">Product to Promote </mat-tab>
        <mat-tab label="Test Audience">Test Audience </mat-tab>
        <mat-tab label="Creative Template">Creative Template </mat-tab>
      </mat-tab-group>
     
  <!-- <app-diagram-editor [model]="model" (typeOfNode)="addNode($event)" >
  </app-diagram-editor>   -->
  
</div>

<!-- <button (click)="someFunc()">aaaa</button> -->


<!-- <div style="width: 50%;background:#f0e68c">
  <button (click)="addNode1('emailSub')">Add Email Subscription</button>
  <button (click)="addNode1('purBeh')">Add Purchase Behaviour</button>
  <button (click)="addNode1('CusEng')">Add Customer Engagement</button>
  <button (click)="addNode1('modQua')">Add Model Qualifiers</button>
  <button (click)="addNode1('geo')">Add Geagraphy</button>
  <button (click)="addNode1('dem')">Add Demographics</button>
  <button (click)="addNode1('cusPer')">Add Customer Persona</button>
  <button (click)="addNode1('proAttr')">Add Pro Attributes</button>
</div> -->