html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  padding: 0;
  overflow: hidden;
}

h1 {
  margin: 0;
  padding: 10px 30px;
  background: #3B4751;
  color: #fff;
}

.fixed-top {
  position: fixed;
  width: 100%;
  top: 0;
}
 div.cdk-overlay-pane{
    position: fixed !important;
    right: 0 !important;
    width:400px !important;
    height: 100% !important;
}

div.mat-dialog-content{
    height: 90%;
    max-height: 90%;
}

div.mat-dialog-content > .mat-form-field {
    display: block !important;
  }

div.top-nav-bar {
  text-align: center;
  background: #fff;
  box-shadow: 0px 3px 5px #999;
  top: 58px;
}

div.top-nav-bar>ul {
  list-style-type: none;
  margin: 0;
}

div.top-nav-bar>ul>li {
  padding: 15px 30px;
  display: inline-block;
  transition-duration: 200ms;
  cursor: pointer;
}

div.top-nav-bar>ul>li.active {
  border-bottom: 4px solid #E46A20;
  background: #FCE9DE;
}

div.diagramsPanel {
  background: #EEEEEE;
  height: 100%;
  padding-top: 40px;
}

div.paletteDiv div {
  overflow-x: hidden !important;
}
.full-width {
  width: 100%;
}

.full-height {
  height: 90%;
  position: relative;
  top:90%;
  transform: translatey(8%);
}

 .mat-tab-body-wrapper{
  flex-grow: 1;
} 