<h1 mat-dialog-title>Node key: {{data.question}}</h1>
<div mat-dialog-content>
  geography:
  <mat-form-field>
    <input matInput [(ngModel)]="data.country">
  </mat-form-field>
  <!-- Race:
  <mat-form-field>
    <input matInput [(ngModel)]="data.race">
  </mat-form-field>
  Gender
  <mat-form-field>
    <input matInput [(ngModel)]="data.gender">
  </mat-form-field>
  Income:
  <mat-form-field>
    <input matInput [(ngModel)]="data.income">
  </mat-form-field> 
</div> -->
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>OK</button>
  <button mat-button [mat-dialog-close]="null">Cancel</button>
</div>