<h1 mat-dialog-title>Node key: {{data.key}}</h1>
<div mat-dialog-content>
  text:
  <mat-form-field>
    <input matInput [(ngModel)]="data.text">
  </mat-form-field>
  Spending:
  <mat-form-field>
    <input matInput [(ngModel)]="data.spending">
  </mat-form-field>
  <!-- <mat-form-field>
    <input matInput [(ngModel)]="data.text">Medium Customers
  </mat-form-field>
  color:
  <mat-form-field>
    <input matInput [(ngModel)]="data.color">DIY Customers
  </mat-form-field>  -->
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>OK</button>
  <button mat-button [mat-dialog-close]="null">Cancel</button>
</div>


<!-- <h1 mat-dialog-title>Node key: {{data.key}}</h1>
<div mat-dialog-content>
  Country:
  <mat-form-field>
    <input matInput [(ngModel)]="data.country">
  </mat-form-field>
  Race:
  <mat-form-field>
    <input matInput [(ngModel)]="data.race">
  </mat-form-field>
  Gender
  <mat-form-field>
    <input matInput [(ngModel)]="data.gender">
  </mat-form-field>
  Income:
  <mat-form-field>
    <input matInput [(ngModel)]="data.income">
  </mat-form-field> 
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>OK</button>
  <button mat-button [mat-dialog-close]="null">Cancel</button>
</div> -->