.diagramsPanel {
    width:100%;
    white-space:nowrap;
    margin-top:20px;
  }
  
  .diagramDiv {
    border: 1px solid #EEE;
    display: inline-block;
    vertical-align: top;
    width: 78%;
    height: 790px;
    background-color:#EEE
  }
  
  .paletteDiv {
    border: 1px solid #EEE;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    height: 790px ;
    margin-left:20px; 
  }
 

  /* div.fileinputs {
    position: relative;
  }
  
  div.fakefile {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
  }
  
  input.file {
    position: relative;
    text-align: right;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
  } */